body {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    background-image: url("../Images/background.JPG");
    color: #6f9ae5;
    justify-content: center;
}

#title {
    width: 500px;
    margin-left: -175px;
    margin-bottom: 55px;
}

#score {
    padding-top: 65px;
    margin-left: 40px;
    text-decoration: underline;
}

#wins, #losses {
    margin-left: 15px;
}

#score-board {
    background-color: white;
    border: 2px solid #f2f411;
    height: 250px;
}

#hidden-word {
    width: 100%;
    height: 125px;
    background-color: white;
    border: 2px solid #f2f411;
    margin: 0px; 
    font-size: 90px;
}

#already-guessed  {
    width: 570px;
    height: 60px;
    background-color: white;
    border: 2px solid #f2f411;
    margin-bottom: 0px;
    margin-left: -15px;
    border-bottom: none;
}

#guessed  {
    width: 570px;
    height: 65px;
    background-color: white;
    border: 2px solid #f2f411;
    margin-bottom: 0px;
    margin-left: -15px;
    border-top: none;
}

#picture-container {
    width: 100%;
    height: 250px;
    background-color: white;
    border: 2px solid #f2f411;
    margin-left: -15px;
    z-index: -1;
}

#picture {
    height: 90%;
    max-width: 90%;
    margin: 0px;
    margin-left: -15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#remaining {
    font-size: 62px;
}

#message {
    width: 1110px;
    background-color: white;
    border: 2px solid #f2f411;
    margin-left: 15px;
}

/* font colors 
    blue: 6f9ae5
    yellow: f2f411
    gray: d2d2c9 */